/* MULTIBANCO */

.multibanco {
    width: 6cm;
    font-size: 10pt;
    display: inline-block;
}
.mb-payment {
    border-color: gray;
    border-width: 2px;
    border-collapse: collapse;
    border-style: solid none;

    .mb-logo {
        display: inline-block;
        width: 1.65cm;
        height: 1.65cm;
        background-image: url("/payment_portugal/static/img/multibanco.svg");
        background-size: 100% 80%;
        background-repeat: no-repeat;
        background-position: 0 center;
    }

    .mb-data {
        margin-left: 1mm;
        margin-top: auto;
        margin-bottom: auto;
        display: inline-block;

        .mb-data-label {
            float: left;
            margin-right: 10pt;
        }
        .mb-data-field {
            float: right;
            font-weight: bold;
            white-space: nowrap;
        }
    }
}

.mb-limit {
    text-align: right;
    font-size: smaller;
    font-style: italic;
    color: gray;
}
